@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Noto+Serif+HK:wght@700&family=Open+Sans&display=swap');

.hn-font {
    font-family: 'Noto Serif HK', serif;

}

.jg-font {
    font-family: 'Jeju Gothic', sans-serif;
    color: darkslategray;
}

.recody {
    color: #CB5A44;
}

