<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <h1 onclick="location.href='/'">상세페이지</h1>
    <div class="navbar">
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
    </div>
    <hr>
    <div>
        <div class="container mt-3">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= data.title %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= data.date %>
                    </h6>
                    <p class="card-text">
                        <%= data.content %>
                    </p>
                    <a href="/edit/<%= data._id %>" class="btn btn-primary card-link">수정하기</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>

</html>